.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input{
  border-color: black;
  display: block;
  width:100%;
  padding: 5px;
  margin: 5px;
}
#button{
  width: 107%;
  border-color: black;
}
#button:hover{
  background-color: aqua;
 
}
p{
  color: red;
  margin: 0;
}
body{
  background-color: aquamarine;
}
input::placeholder{
  color: rgba(0, 0, 0, 0.712);
}
